<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>courseNumber</key>
		<string>CSCI 241</string>
		<key>courseName</key>
		<string>0</string>
		<key>creditHours</key>
		<integer>4</integer>
		<key>maxEnrollment</key>
		<integer>40</integer>
	</dict>
	<dict>
		<key>courseNumber</key>
		<string>CSCI 320</string>
		<key>courseName</key>
		<string>Intermediate Programming in C++</string>
		<key>creditHours</key>
		<integer>3</integer>
		<key>maxEnrollment</key>
		<integer>40</integer>
	</dict>
	<dict>
		<key>courseNumber</key>
		<string>CSCI 640</string>
		<key>courseName</key>
		<string>Assembers</string>
		<key>creditHours</key>
		<integer>3</integer>
		<key>maxEnrollment</key>
		<integer>40</integer>
	</dict>
</array>
</plist>
